<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pr1.Properties.Settings.PR1PractikaConnectionString"
            connectionString="Data Source=DESKTOP-PJPTSCI\SQLEXPRESS;Initial Catalog=PR1Practika;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>